{% extends "inventory/inventorybase.html" %}

{% block title %}
Goods receipts list
{% endblock title %}

{% block inventory%}
<div class="container-fluid">
    <a class="mb-4" href="{% url 'inventory:new-goods-receipt' %}">
        <button type="button" class="btn btn-dark">Receive Goods</button>
    </a>

    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Document #</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
                <th scope="col">Supplier</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in all_receipts %}
                <tr>
                    <th scope="row">
                        <a class="" href="{% url 'inventory:goods-receipt-detail' receipt.slug receipt.id %}">
                            {{receipt.receipt_number}}
                        </a>
                    </th>
                    <td>
                        {{receipt.receipt_date}}
                    </td>
                    <td>
                        {{receipt.input_by}}
                    </td>
                    <td>
                        {{receipt.supplier}}
                    </td>
                    <td>
                        {{receipt.total}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock inventory%}
