{% extends "inventory/inventorybase.html" %}

{% block title %}
Stocks Writeon list
{% endblock title %}

{% block inventory%}
<div class="container-fluid">
    <a class="mb-4" href="{% url 'inventory:new-writeon' %}">
        <button type="button" class="btn btn-dark">Add stock</button>
    </a>

    <table class="table mt-2">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Document #</th>
                <th scope="col">User</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for writeon in writeons %}
                <tr>
                    <th scope="row">
                        <a class="" href="{% url 'inventory:writeon-detail' writeon.slug writeon.id %}">
                            {{writeon.write_on_number}}
                        </a>
                    </th>
                    <td>
                        {{writeon.input_by}}
                    </td>
                    <td>
                        {{writeon.write_on_date}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock inventory%}
