{% extends "accounts/accountsbase.html" %}
{% load static %}

{% block title %}
Accounts - {{receipt.receipt_number}}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="receipt-details container-fluid">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{receipt.receipt_number}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{receipt.receipt_date}}</h6>
                <p class="card-text" id="customer-id" data-inquiry-url="{% url 'accounts:get-invoices' %}">
                    {{receipt.customer.pk}}
                </p>
                <p class="card-text">
                    {% if receipt.description %}
                        {{receipt.description}}
                    {% else %}
                        No description
                    {% endif %}
                </p>
                <p class="card-text">
                    {{receipt.total}}
                </p>
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <form id="document-form" method="post">
            <div class="row">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group col-4">
                        <label class="col-12">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary" value="Add item" data-url="{% url 'accounts:add-receipt-items' receipt.slug receipt.id %}" id="add_item" /> 
            </div>
        </form>
    </div>
    <div class="receipt-items">
        <table class="table table-bordered">
            <thead>
                <th>Invoice</th>
                <th>description</th>
                <th>Amount</th>
                <th>Actions</th>
            </thead>
            <tbody id="document-items">
                {% for item in details %}
                    <tr>
                        <td>{{item.invoice}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.amount}}</td>
                        <td>
                            <a class="item-remove" data-url="{% url 'accounts:remove-receipt-item' slug=receipt.slug pk=receipt.id item_pk=item.id %}" id="remove-item-{{item.pk}}">
                                <button type="button" class="btn btn-danger">Remove</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
    </div>
</div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'scripts/cashreceipt.js' %}"></script>
    <script>
        $("#related-invoice").select2();
    </script>
{% endblock javascript %}
