{% extends "accounts/accountsbase.html" %}
{% load static %}

{% block title %}
Accounts - {{receipt.receipt_number}}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="receipt-details">
        {{receipt.receipt_number}}
        {{receipt.receipt_date}}
        {% if receipt.description %}
        {{receipt.description}}
        {% else %}
        No description
        {% endif %}
        <p id="customer-id" data-inquiry-url="{% url 'accounts:get-invoices' %}">
            {{receipt.customer.pk}}
        </p>
    </div>
    <div class="receipt-form">
        <form method="post">
            <div class="row">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group col-4">
                        <label class="col-12">{{field.label}}</label>
                        {{field}}
                    </div>
                {% endfor %}
                    
            </div>
        </form>
    </div>
    <div class="receipt-items"></div>
</div>
{% endblock content %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'scripts/cashreceipt.js' %}"></script>
    <script>
        $("#related_invoice").select2();
    </script>
{% endblock javascript %}
