{% extends "supplier/supplierbase.html" %}

{% block title %}
Suppliers - All suppliers
{% endblock title %}

{% block supplier %}
<a class="mb-4 mt-2" href="{% url 'supplier:new_supplier' %}">
    <button type="button" class="btn btn-dark">New Supplier</button>
</a>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Supplier name</th>
            <th scope="col">KRA PIN</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in all_suppliers %}
            <tr>
                <th scope="row">{{supplier.pk}}</th>
                <td>
                    <a href="{% url 'supplier:supplier_detail' supplier.slug supplier.pk %}">
                        {{supplier.supplier_name}}
                    </a>
                </td>
                <td>{{supplier.pin}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock supplier %}
