{% extends "sales/salesbase.html" %}
{% load static %}

{% block title %}
Sales - All receipts
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock style %}
    

{% block content %}
    <div class="container">
        <a class="mb-4" href="{% url 'sales:new_receipt' %}">
            <button type="button" class="btn btn-dark">New receipt</button>
        </a>
        <form class="mt-3" action="{% url 'sales:filter_receipts' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
        </form>
        <div class="receipts-search mt-3">
            <form class="mt-1" action="{% url 'sales:get_receipts' %}" method="get">
                {% csrf_token %}
                {{filter_form}}
                <input type="submit" value="Submit">
            </form>
        </div>
        <table class="table mt-2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Receipt #</th>
                    <th scope="col">Salesperson</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in all_receipts %}
                    <tr>
                        <th scope="row">
                            <a class="" href="{% url 'sales:view_receipt' receipt.slug receipt.id %}">
                                {{receipt.receipt_number}}
                            </a>
                        </th>
                        <td>
                            {{receipt.salesman}}
                        </td>
                        <td>
                            {{receipt.total}}
                        </td>
                        <td>
                            {{receipt.sale_date}}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="mr-3" href="{% url 'sales:sales_returns' receipt.slug receipt.id%}">
                                    <button type="button" class="btn btn-primary">
                                            Void
                                    </button>
                                </a>
                                <a href="{% url 'sales:update_receipt' receipt.slug receipt.id%}">
                                    <button type="button" class="btn btn-primary">
                                            Update
                                    </button>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'scripts/jquery.datetimepicker.full.min.js' %}"></script>
<script>
    $(function () {
      $("#id_start_date").datetimepicker({
        format: 'Y-m-d H:i',
      });
      $("#id_close_date").datetimepicker({
        format: 'Y-m-d H:i',
      });
    });
</script>
{% endblock javascript %}
    
