{% extends "sales/salesbase.html" %}
{% load static %}

{% block title %}
Sales - All receipts
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/jquery.datetimepicker.min.css' %}">
{% endblock style %}
    

{% block content %}
    <div class="container">
        <a class="mb-4" href="{% url 'sales:new_receipt' %}">
            <button type="button" class="btn btn-dark">New receipt</button>
        </a>
        
        {% ifequal user.groups.all.0.name 'Accounts'  %} 
            <div class="receipts-search mt-3">
                <form class="mt-1" action="{% url 'sales:filter_receipts' %}" method="get">
                    {% csrf_token %}
                    {{filter_form}}
                    <input type="submit" value="Submit">
                </form>
            </div>
            <div class="mb-4 mt-2">
                <form action="{% url 'sales:all_receipts' %}" style="float: right;">
                    <input type="search" class="form-control mr-sm-2" placeholder="search" aria-label="search" name="search">
                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">
                        Search
                    </button>
                </form></br>
            </div>
        {% endifequal %}
        
        <table class="table mt-2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Receipt #</th>
                    <th scope="col">Salesperson</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="receipts-list" data-clear="{% url 'sales:clear-receipt' %}" data-credit="{% url 'sales:credit-receipt' %}">
                {% for receipt in all_receipts %}
                    <tr>
                        <th scope="row">
                            <a class="" href="{% url 'sales:view_receipt' receipt.slug receipt.id %}">
                                {{receipt.receipt_number}}
                            </a>
                        </th>
                        <td>
                            {{receipt.salesman}}
                        </td>
                        <td>
                            {{receipt.total}}
                        </td>
                        <td>
                            {{receipt.sale_date}}
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a class="mr-3" href="{% url 'sales:sales_returns' receipt.slug receipt.id %}">
                                    <button type="button" class="btn btn-primary">
                                            Void
                                    </button>
                                </a>
                                <a class="mr-3" href="{% url 'sales:update_receipt' receipt.slug receipt.id %}">
                                    <button type="button" class="btn btn-primary">
                                            Update
                                    </button>
                                </a>
                                <a class="mr-3" href="{% url 'sales:clear-receipt' %}" id="clear-item-{{receipt.pk}}">
                                    <button type="button" class="btn btn-primary">
                                            
                                            {% if receipt.is_cleared %}
                                                Cleared
                                            {% else %}
                                                Clear
                                            {% endif %}
                                                
                                    </button>
                                </a>
                                <a class="mr-3" href="{% url 'sales:credit-receipt' %}" id="credit-item-{{receipt.pk}}">
                                    <button type="button" class="btn btn-primary">
                                            
                                            {% if receipt.is_credit %}
                                                To Pay
                                            {% else %}
                                                Credit
                                            {% endif %}
                                                
                                    </button>
                                </a>
                            </div>                            
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'scripts/jquery.datetimepicker.full.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/saleslist.js' %}"></script>
<script>
    $(function () {
      $("#id_start_date").datetimepicker({
        format: 'Y-m-d H:i',
      });
      $("#id_close_date").datetimepicker({
        format: 'Y-m-d H:i',
      });
      $("#id_report_date").datetimepicker({
        format: 'Y-m-d H:i',
      });
    });
</script>
{% endblock javascript %}
    
